h1 {
    padding-bottom: 20px;
}

.imgTd {
    width:15%;
}

img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

/* .descTd {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
} */

/* .dishDelete {
    float: right;
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font-size: large;
} */

a {
   
    color: rgb(179, 174, 174);
    text-decoration: none;
	font-weight: bold;
    float: left;
}

a:hover {
	text-decoration: underline 1px solid rgb(179, 174, 174) !important;
}

table {
    width: 100%;
}

th:nth-child(2) {
    width: 20%;
}

th:nth-child(4) {
    width: 40%;
    margin: 0 5px 0 5px;
}