h1 {
    padding-bottom: 20px;
}

.imgTd {
    width:15%;
}

img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

a {
   
    color: rgb(179, 174, 174);
    text-decoration: none;
	font-weight: bold;
    float: left;
}

a:hover {
	text-decoration: underline 1px solid rgb(179, 174, 174) !important;
}

table {
    width: 100%;
}

th:nth-child(2) {
    width: 20%;
}

th:nth-child(3) {
    width: 10%;
}

.addDishTable th:nth-child(5) {
    width: 30%;
    margin: 0 5px 0 5px;
}

.addDishTable th:nth-child(6) {
    width: 5%;
    margin: 0 5px 0 5px;
}

.manDishTable th:nth-child(6) {
    width: 8%;
}