<h1 class="pageHeader">Manage Menu</h1>

<fieldset class="addItem">
    <div class="warning">{{msg}}</div>
    <div *ngIf="!isAddDish"><a (click)="isAddDish = true">Add a Dish</a></div>
    <form *ngIf="isAddDish" [formGroup]="dishForm" (ngSubmit)="addDish()">
        <table class="addDishTable">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Price</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td><input id="image" formControlName="image" /></td>
                <td><input id="name" formControlName="name" /></td>
                <td><select formControlName="type">
                        <option *ngFor="let type of dishType | keyvalue" id="type" value="{{type.key}}">{{type.key}}
                        </option>
                    </select>
                </td>
                <td><input id="description" formControlName="description" /></td>
                <td><input id="price" formControlName="price" /></td>

                <td><input type="submit" value="Add" /></td>
                <td><input type="button" (click)="isAddDish = false" value="Cancel" /></td>
            </tr>
        </table>
    </form>
</fieldset>

<fieldset *ngFor="let restaurant of restaurants" class="resDiv">
    <legend>{{restaurant.name}} : {{restaurant.cuisine}} Cuisine</legend>

    <table>
        <tr>
            <th class="imgTd">Image</th>
            <th class>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr *ngFor="let dish of restaurant.dishes">
            <td class="imgTd"><img src={{dish.image}} /></td>
            <td class="nameTd">{{dish.name}}</td>
            <td>{{dish.type}}</td>
            <td class="descTd">{{dish.description}}</td>
            <td>{{dish.price}}</td>
            <td><a href="" (click)="deleteDish(dish.id)">Delete</a></td>
        </tr>
    </table>
</fieldset>