h1 {
    padding-bottom: 20px;
}

.resDiv {
    border-bottom: 1px solid rgb(171, 114, 114);
}

.dishListDiv {
    display: inline-flex;
    float: left;
}

.dishDiv {
    width: 410px;
    margin: 20px;
    border: 1px solid rgb(171, 114, 114);
    border-radius: 10px;
}

.dishImg img {
    width: 410px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: left;
}

.dishName {
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    float: left;
    padding-left: 10px;
    font-weight: bold;
}

.dishDesc {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-top: 15px;
}

.dishAdd {
    float: right;
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 15px;
}

.dishAdd:hover input[type=button] {
    text-decoration: underline 1px solid rgb(179, 174, 174);
}

.dishAdd input[type=button] {
    font-size: 18px;
	background-color: rgb(116, 0, 0);
    color: rgb(179, 174, 174);
    border: none;
}

.addDishTable {
    width: 100%;
    margin-bottom: 25px;
}

.addDishTable th {
    font-size: 20px;
}
