<h1 class="pageHeader">Menu</h1>
<div *ngFor="let type of dishTypes | keyvalue">
    <fieldset *ngIf="dishesByType.has(type.key)">
        <legend>{{type.value}}</legend>
        <div class="dishListDiv" *ngFor="let dish of dishesByType.get(type.key)">
           
            <div class="dishDiv">
                <!-- <div class="dishDiv" *ngFor="let dish of dishes">  -->
                <div class="dishImg"><img src={{dish.image}} /></div>
                <div class="dishName">{{dish.name}}</div><br>
                <div class="dishDesc">{{dish.description}}</div>
                <div class="dishAdd"><input type="button" (click)="addToCart(dish)" value="Add To Cart ${{dish.price}}" /></div>
                <!-- </div>  -->
            </div>
        </div>
    </fieldset>
</div>
