body {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
	color: rgb(179, 174, 174);
    text-align: center;
	background-color: rgb(116, 0, 0);
}

h1 {
	padding-top: 30px;
	font-weight: bolder;
}

h2 {
	padding-top: 70px;
	font-size: 70px;
	font-weight: bolder;
}

fieldset {
    border: 1px solid rgb(171, 114, 114);
    border-radius: 10px;
    margin: 30px;
    overflow: auto;
    padding: 20px 50px 20px 50px;
}

fieldset.addItem {
	border: none;
	padding: 0 50px;
	margin: 0 30px;
}

legend {
    float: none !important;
    width: auto;
    padding: 10px 10px 20px 10px;
    margin: 0 0 0 50px;
    text-align: left;
    font-weight: bolder;
    font-size: 30px;
}

ul {
    list-style-type: none;
    overflow: hidden;

}

li:nth-child(1) {
	float: left;
}

li:nth-child(2) {
	float: left;
	margin-left: 15%;
}

li:nth-child(3) {
	float: left;
}

li:nth-child(4) {
	float: left;
}

li:nth-child(5) {
	float: left;
}

li:nth-child(6) {
	float: right;
	margin-right: 40px;
}

li a {
	color: rgb(179, 174, 174);
    text-align: center;
    padding: 0 40px;
    text-decoration: none;
	font-weight: bold;
}

.loginA a {
	padding: 0 5px;
}

li a:hover {
	text-decoration: underline rgb(179, 174, 174);
}

.warning {
	color: red;
	margin-bottom: 20px;
}

.actionImg {
    width: 35px;
    height: 35px;
	float: right;
}

input,
select {
	border: 0;
	border-bottom: 2px solid rgb(179, 174, 174);
	outline: none;
	padding: 5px;
	color: rgb(135, 132, 132);
	font-size: 15px;
	/* width: 16em;*/
	width: 100%;
}

input[type=submit], input[type=button] {
	color: whitesmoke;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	background: rgb(179, 174, 174);
	border: 2px solid rgb(179, 174, 174);
	border-radius: 6px;
}

input[type=radio] {
	width: 20px;
	margin-left: 20px;
	accent-color:  rgb(179, 174, 174);
	outline: none;
}

th {
	font-size: 25px;
	border-bottom: 1px solid rgb(171, 114, 114);
}

th,
td {
	padding: 10px 20px 10px 0;
	text-align: left;
}

.center {
	padding-top: 20px;
}

.coName {
	font-style: italic;
	font-size: 30px;

}

.headerImg {
	width:100%;

}

.signInModal, .signUpModal {
	margin-top: 15px;
}

/* #tableP th:nth-child(odd),
#tableP td:nth-child(odd) {
	width: 25%;
}

#tableP th:nth-child(2),
#tableP td:nth-child(2) {
	width: 20%;
} */

#confirmReservation label {
	font-weight: bold;
}

/* You can add global styles to this file, and also import other style files */
